@import '../../scss//variables';


 .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
    align-self: start;
    height: calc(100vh - 88px);
    overflow-y: auto;
    .container-fluid {
      margin-bottom: 1rem;
    }
  }
  .sidebar {
    grid-area: sidebar;
  }
  .footer {
    grid-area: footer;
  }
  
  .Layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "sidebar header header header header"
      "sidebar main main main main"
      "sidebar footer footer footer footer";
  }